/*Jordan Schulte*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 650px;
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px 3px;
}

.container-top {
    text-align: center;
    padding: 10px;
}

#coin {
    width: 100px;
}

#results {
    width: 100%;
    text-align: center;
}

#results h2{
    padding: 10px;
}

.container-button {
    width: 100%;
    display: inline-block;
    height: 100px;
}

.container-button button {
    float: right;
    margin: 50px 50px;
    width: 75px;
    height: 35px;
    border: 2px solid #4285F4;
    background-color: #4285F4;
    color: white;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.container-button button:hover {
    background-color: #3165b8;
    border-color: #3165b8;
}

.counter-style {
    font-size: 15pt;
    margin: 20px;
}



